/*header, content area sizing and background-color, footer*/

body {
    background-image: url(../images/oriental.png);
}

.header-content,
.container {
    width: 960px;
    margin: 0 auto;
}

/*begin header*/
header {
    background-color: #ffffff;
    border-bottom: solid #cccccc 2px;
    height: 64px;
    width: 100%;
    min-width: 960px;
}

h1 {
    font-family: 'Georgia', Times, "Times New Roman", serif;
    font-size: 24px;
    color: #ffffff;
    margin-top: 0px;
    float: left;
    text-align: center;
    background-color: #4aaaa5;
    padding: 20px 20px 20px 20px;
    font-weight: bold;
}

nav {
    float: right;
    margin-top: 24px;
}

nav a {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #777777;
    text-decoration: none;
    font-size: 16px;
    padding-top: 0px;
    font-weight: 100;
}

a:hover {
    color: #FF0000;
}

a:active {
    color: #E89F0C;
}

a:visited {
    color: #3E0CE8;
}

.right-border {
    border-right: solid #cccccc 2px;
    padding-right: 5px;
}
/*end header*/

/*begin container heading*/
.container {
    margin-top: 50px;
    border: solid #cccccc 1px;
    background-color: #ffffff;
    padding-bottom: 10px;
}

.content {
    width: 920px;
    margin: 0 auto; 
}

.content h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    font-size: 24px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid #cccccc 2px;
    margin-bottom: 10px;
}
/*end container heading*/

/*spacer - adds space for sticky footer so there is no overlap of content*/

.spacer {
    height: 107px;
    position: fixed;
    bottom: 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 5px;
    border-top: solid #4aaaa5 10px;
    font-size: 12px;
}

/*Media calls*/
@media screen and (max-width: 980px) {
    .container,
    .header-content {
        width: 80%;
    }

    .container {
        margin-bottom: 107px;
    }

    .header-content {
     float: left;
    }

    .content {
        width: 95%;
    }

}

@media screen and (max-width: 768px) {
    .container {
        width: 80%;
        float: left;
        margin-left: 20px;
        margin-bottom: 107px;
    }

    .header-content {
        width: 60%;
       float: left;
        margin-left: 20px;
    }

    .content {
        width: 95%;
    }

  .spacer {
        position: fixed;
        bottom: 0;
        height: 107px;
        width: 768px;
    }


}


@media screen and (max-width: 640px) {
    /*.container {
        width: 80%;
        float: left;
        margin-left: 20px;
        margin-bottom: 107px;
    }

    .header-content {
        width: 60%;
        float: left;
        margin-left: 20px;
    }

    .contect {
        width: 95%;
    }

  .spacer {
        position: fixed;
        bottom: 0;
        height: 107px;
        width: 768px;
    }*/

    .container {
        float: none;
    }

    header {
        height: 98px;
    }

    h1 {
        min-width: 640px;
        width: 100%;
    }

    .header-content {
        margin-left: 0px;
    }

    nav {
        min-width: 640px;
        float: none;
        text-align: center;
        position: relative;
        top: 10px;
    }
}